{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    News
{% endblock title %}

{% block content %}
    <h1 style="font-family: Georgia;"><strong> Новости </strong></h1>
    <h3>{% current_time '%d %b %Y' %}</h3>
    <hr>
    {% if posts %}
        <p style="font-size: 0.8em; font-family: Georgia;">
            Всего публикаций: {{ posts | length }}
        </p>
        <br/>
        <table style="width: 100%; font-family: Georgia;">
            <tr>
                <th style="border-bottom: 3px solid #B9B29F;"> Заголовок </th>
                <th style="border-bottom: 3px solid #B9B29F;"> Дата публикации </th>
                <th style="border-bottom: 3px solid #B9B29F;"> Текст </th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td style="padding: 18px;"> {{ post.head | censor}} </td>
                    <td> {{ post.time_in | date:'d.m.Y' }} </td>
                    <td> {{ post.text | censor | truncatechars:35 }} </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}
{% endblock content %}